doctype html

script(src='/socket.io/socket.io.js')


script.
	//var socket = io.connect('http://192.168.0.185:8080');
	var socket = io.connect('http://10.20.45.1:8080');
	socket.on('connect', function(data){
		socket.emit('remote');
	});

script.
	socket.on('next_song', function(data){
		socket.emit('next_song_received');
	});

script.
	socket.on('random_track', function(data){
		console.log('random_track received')		
		var elem = document.getElementById("nowplaying");
			elem.innerHTML = data;
	});

script.
	socket.on('next_track', function(data){
		console.log('track name received')		
		var elem = document.getElementById("nowplayingtrack");
			elem.innerHTML = data;
	});

script.
	socket.on('next_artist', function(data){
		console.log('artist name received')		
		var elem = document.getElementById("nowplayingartist");
			elem.innerHTML = data;
	});

html
	head
		link(href='/css/style1.css', rel='stylesheet')
		script.
			var next_function = function(){
				console.log('next_ok')
				socket.emit('next');
			}
		script.
			var test_function = function(){
				console.log('random_ok')
				socket.emit('random');
			}

			var sstop_function = function(){
				console.log('sstop_ok')
				socket.emit('sstop');
				var elem = document.getElementById("sstopButton");
				if (elem.innerHTML=="Pause") {
					elem.innerHTML = "Play";}
				else elem.innerHTML = "Pause";	
			}
	body

		//button(onclick='next_function()') Next
		//button(onclick='test_function()') Test
h1 Musicbox	
		div(id="nowplayingtrack")
			p1 Track name
		div(align="center")
		div(id="nowplayingartist")
			p1 Now Playing
		div(align="center")
			button(class="button", onclick='next_function()') Next
		div(height:10px)
		div(align="center")
			button(class="button", onclick='test_function()') Random
		div(align="center")
			button(class="button", id="sstopButton", value="Pause", onclick='sstop_function()') Pause


