doctype html

script(src='/socket.io/socket.io.js')

//***FUNCTIONS***
script.
	var socket = io.connect('http://192.168.0.185:8081');
	socket.on('connect', function(data){
		socket.emit('remote');
	});

script.
	socket.on('next_song', function(data){
		console.log('next_song received');
		document.getElementById("nowplaying").innerHTML = "Next track";
	});

script.
	socket.on('next_track', function(data){
		console.log('next_track received');
		document.getElementById("nowplayingtrack").innerHTML = data;
	});
script.
	socket.on('next_artist', function(data){
		console.log('next_artist received');
		document.getElementById("nowplayingartist").innerHTML = data;
	});

html
	head
		link(href='/css/style1.css', rel='stylesheet')
		script.
			var next_function = function(){
				console.log('next_ok')
				socket.emit('next');
			}
			var sstop_function = function(){
				console.log('sstop_ok')
				socket.emit('sstop');
				var elem = document.getElementById("sstopButton");
				if (elem.innerHTML=="Pause") {
					elem.innerHTML = "Play";}
				else elem.innerHTML = "Pause";	
			}
			var random_function = function(){
				console.log('random_ok')
				socket.emit('random');
			}


//***LAYOUT***
	body

h1 Musicbox
		div(align="center")
			p1 Now playing:
		div(align="center")
		div(id="nowplayingtrack")
			p1 Track name
		div(id="nowplayingartist")
			p1 Artist name
		div(align="center")
			button(class="button", onclick='next_function()') Next
		div(height:10px)
		div(align="center")
			button(class="button", onclick='random_function()') Random
		div(align="center")
			button(class="button", id="sstopButton", value="Pause"  onclick='sstop_function()') Pause
		



