doctype html

script(src='/socket.io/socket.io.js')

//***FUNCTIONS***
script.
	var socket = io.connect('http://192.168.0.185:8082');
	socket.on('connect', function(data){
		socket.emit('remote');
	});

script.
	socket.on('next_song', function(data){
		console.log('next_song received');
		document.getElementById("nowplaying").innerHTML = "Next track";
	});
script.
	socket.on('next_next_track', function(data){
		console.log('next_next_song received');
		document.getElementById("nextplaying").innerHTML = data;
	});
script.
	socket.on('duration', function(data){
		console.log('duration received');
		document.getElementById("durationid").innerHTML = data;
	});
script.
	socket.on('next_track', function(data){
		console.log('next_track received');
		document.getElementById("nowplayingtrackid").innerHTML = data;
	});
script.
	socket.on('next_artist', function(data){
		console.log('next_artist received');
		document.getElementById("nowplayingartistid").innerHTML = data;
	});
script.
	socket.on('album', function(data){
		console.log('album received');
		document.getElementById("albumid").innerHTML = data;
	});


html
	head
		link(href='/css/style1.css', rel='stylesheet')
		script.
			var next_function = function(){
				console.log('next_ok')
				socket.emit('next');
			}
			var sstop_function = function(){
				console.log('sstop_ok')
				socket.emit('sstop');
				var elem = document.getElementById("sstopButton");
				if (elem.innerHTML=="Pause") {
					elem.innerHTML = "Play";}
				else elem.innerHTML = "Pause";	
			}
			var random_function = function(){
				console.log('random_ok')
				socket.emit('random');
			}


//***LAYOUT***
	body
div(align="left")
	h1 Musicbox
		//div(align="left")
		//	p1 Now playing:
		//div(align="left")
		div(align="left")
			p1 Track name: 
			p1(id="nowplayingtrackid")
		div(align="left")
			p1 Artist name:
			p1(id="nowplayingartistid", align="right")
		div(align="left")
			p1 Album:
			p1(id="albumid")
		div(align="left")
			p1 Duration:
			p1(id="durationid")
		div(align="left")
			p1 Playing Next:
			p1(id="nextplaying")
		div(align="left")
			button(class="button", onclick='next_function()') Next
		div(height:10px)
		div(align="left")
			button(class="button", onclick='random_function()') Random
		div(align="left")
			button(class="button", id="sstopButton", value="Pause"  onclick='sstop_function()') Pause
		



