
h1 {
	font: 42px "Trebuchet MS", sans-serif;
	text-align:left;
}

button {
	font: 14px "Trebuchet MS", sans-serif;
	width:300px
	border-radius: 4px;
}

.button {
	padding:8px 16px;
	display:inline-block;
	text-decoration: none;

	border-radius: 3px;
	background:lightsteelblue;
	color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	border:0;
	width:200px;
	height:50px; 

}

p1{
	font: 24px "Trebuchet MS", sans-serif;
}
